.body-container {
  min-height: 100vh;
}
/* ================================= */

.introduce-container {
  width: 100%;
  height: 30%;
  height: auto;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  border-radius: 15px;
}

.introduce-full {
  font-size: 16px;
  height: 100%;

  /* border: 1px solid blue; */
}

.introduce-member {
  text-align: center;
  margin-left: 35px;
  width: fit-content;
  height: 100%;
  list-style: none;
  border-left: 1px solid black;

  /* border: 1px solid green; */
}

.slogan-container {
  width: 100%;
  max-height: fit-content;
  /* border: 1px solid red; */
}

.slogan-content {
  height: 100%;
}

.slogan-content img {
  max-height: 200%;
  max-width: 100%;
}

/* ============================= */

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-30px);
  }
  60% {
    transform: translateX(-15px);
  }
}

.name h1 {
  font-size: 100px;
  text-shadow: 0 0 16px rgb(0 0 0);
  /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); */
  animation: bounce 2s infinite;
}

.boxIMG .carousel {
  border-radius: 15px;

  box-shadow: 0 0 20px rgb(0, 0, 0);

  overflow: hidden;
}

.boxIMG .carousel-inner,
.boxIMG .carousel-item img {
  border-radius: 0;
  box-shadow: none;
}
