/* ===== Hiệu ứng cuộn mượt ===== */
html {
  scroll-behavior: smooth;
}

html,
body {
  /* height: 100%; */
  margin: 0;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE và Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

/* ======================== */
/* ===== Layout chung ===== */

.header-container {
  border: 1px solid black;
}

.body-container {
  min-height: 100vh;
}
.section {
  height: calc(100vh - 80px);
}
/* ===== Hero Carousel (Thumb) ===== */

/* 1. Container cha (khung) */
.thumb-container {
  margin-top: 10px;
  border: 0;
  height: 652px;
  width: 100%;
  /* overflow: hidden; */
  position: relative;
  background-color: rgb(0 0 0 / 84%);
}

/* 2. Carousel (nơi đặt mask) */
#thumbCarousel {
  height: 100%;
  width: 100%;
}

#thumbCarousel .carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
  padding: 0;
}

#thumbCarousel .carousel-item img {
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: none;
  border-radius: 0;

  /* THÊM 10 DÒNG MASK-IMAGE VÀO ĐÂY */
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
}

.caption {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  width: 100%;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0 0 8px rgb(188 188 188);
  background: rgb(0 0 0 / 40%);
  backdrop-filter: blur(5px) !important;
}

/* ===== Product Section ===== */
.newProduct-container {
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
  background-color: #fff;
  scroll-margin-top: 80px; /* để khi click link xuống không bị header che */
}

.title h2 {
  font-weight: 600;
}

.title hr {
  width: 100px;
  opacity: 0.3;
  margin: 10px auto 40px;
}

