body {
  /* height: 100vh; */
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
}

footer {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  background-color: rgb(255, 254, 254) !important;
  color: rgb(0, 0, 0) !important;
}
