body {
  height: 100vh;
  background-color: rgb(0, 0, 0) !important;
  color: rgb(255, 255, 255) !important;
}

footer {
  /* position: static; */
  bottom: 0;
  left: 0;
  background-color: rgb(0, 0, 0) !important;
  color: rgb(255, 255, 255) !important;
}
