.body-container {
  /* height: 1294.4px; */
  /* width: 1332.66px; */
  border: 1px solid black;
}

.thumb-container {
  width: 100%;
  max-height: 50%;
  border: 1px solid red;
}

.product-container {
  border: 1px solid rgb(100, 255, 10);
}

.row-product {
  /* max-width: 100%;
  max-height: 100%; */
}
