/* ==================================================== */

.img-product {
  width: fit-content;
}

.img-product img {
  height: 519px;
  width: fit-content;
  border-radius: 5px;
}

/* MORE IMG */
.moreimg img {
  width: 100%;
  height: 75px;
  object-fit: cover;
  cursor: pointer;
  border: 3px solid transparent;
  transition: border-color 0.2s;
}

.moreimg img:hover {
  border-color: #ccc;
}

.moreimg img.active {
  border-color: #007bff;
}
/* ==================================================== */
